.image-gallery {
  display: grid;
  gap: 16px;
  /* padding: 16px; */
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 1200px) {
  .image-gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .image-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .image-gallery {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .image-gallery {
    grid-template-columns: 1fr;
  }
}
